body{
    margin-left: auto;
    margin-right: auto;
    max-width: 30%;
}
.img-container {
    text-align: center;
  }
.imagen{
    border-style: solid;
    border-width: 30px 0px 30px 0px;

}
a{
    color: green;
}
